body > nav {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 1rem;
  font-size: 40%;
  text-align: end;
  text-transform: uppercase;
 }
 nav li {
display: inline;
 }
 li:not(:first-child) {
  border-left: gray 1px solid;
}
 nav > li a {
   text-decoration: none;
   color: white;

 }

main {
  border-bottom: rgba(0, 0, 0, 0.5) solid thin;
}




