#dory {

background-color: blue;
background-image: url("../images/crab.png"),
                  url("../images/bubble.png"),
                  url("../images/coral-reef.png"),
                  linear-gradient(180deg,skyblue 10%, blue 75%,orange 80%);
background-repeat: no-repeat,
                   no-repeat,
                  no-repeat;
background-position: 70% 90%,
                     30% 80%,
                     90% 90%,
                     0% 0%;
background-size: 10%,
                 10%,
                 100%,
                 100%
}
  #dory {
    animation-duration: 3s;
    animation-name: slidein;
  }

  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }

.henry {

  background-image:url("../images/sun.png"),
                    url("../images/grass-clump.png"),
                    url("../images/grass-left.png"),
                    linear-gradient(0deg,lightyellow 80%,lightblue 60%);
  background-position:4% 4%,
                       90% 90%,
                       100% 100%,
                       0% 0%;
  background-repeat: no-repeat, no-repeat, no-repeat;

  background-size: 10%,
                    40%,
                    100%,
                    100%;
  background-color: ;
}

.lu-seal {

  background-image: url("../images/palm.png"),
                    url("../images/sun.png"),
                    url("../images/beach-ball.png"),
                    url("../images/palm-2.png"),
                    linear-gradient(180deg,lightskyblue 20%,darkblue 38%,lightyellow 50%);
  background-position: 4% 0%,
                       0% 0%,
                       90% 90%,
                       100% 20%,
                       0 0;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 30%,
                     10%,
                   20%,
                   40%,
                   100%;
  background-color: lightskyblue;
}

#crab {
background-image: url("../images/crab.png"),
                  linear-gradient(180deg,rgb(133, 82, 34),rgb(146, 173, 55));
background-position: 70% 80%;
background-repeat: no-repeat;
background-size: 20%;
}
#reef-1 {
  background-image: url("../images/coral-reef.png"),
                  linear-gradient(180deg,rgb(43, 135, 104),rgb(146, 173, 55));
background-position: 30% 50%;
background-repeat: no-repeat;
background-size: 100%;

}

#reef-2 {
  background-image: url("../images/coral-reef.png"),
                  linear-gradient(0deg,rgb(43, 135, 104),rgb(146, 173, 55));
background-position: 30% 50%;
background-repeat: no-repeat;
background-size: 100%;
}

/*
#section dory {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
/*background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5),
url("../images/coral-reef.png");

multiple background-image:
background-position: center;
background-repeat: no-repeat;
background-size: 90%;*/
