section:nth-of-type(2) .container {
  width: 200px;
  height: 200px;
  overflow: hidden;
  position: relative;

}
section:nth-of-type(2) .container .circle:first-of-type {
  width: 200px;
  position:absolute;
  top: -50%;
  right: -50%;

}

section:nth-of-type(2) .container .circle:nth-of-type(2) {
  width: 200px;
  position:absolute;
  right: -50%;
  top: 50%;
}
section:nth-of-type(2) .container .circle:nth-of-type(3) {
  width: 200px;

  position:absolute;
  bottom: 50%;
  left: -50%;
}
section:nth-of-type(2) .container .circle:nth-of-type(4) {
  width: 200px;
  height: 200px;
  position:absolute;
  bottom: -50%;
  left: -50%;

}
